@use "variaveis";

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/mando_background.jpg);
    text-align: center;
    background-size: cover;

    @media (max-width: 767px) {
        background-image: url(../images/mando_mobile.jpeg);
        //padding-top: calc(50vw + 36px);
        //background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-height: 100%;
        min-height: 56vw;
        //margin-top: 24px;

        &__content {
            display: none;
        }
    }

    &__content {
            &__logo {
                width: 50%;

                img {
                    margin-left: px;
                    margin: auto 0px 50px auto ;
                    display: block;
                    max-width: 36vw;
                }
            }
    }

    
}
